<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact List 4.0.0</title>
</head>
<body>
<h1>Contact List</h1>
<ul id="contacts"></ul>
<h2>New Contact</h2>
<form id="new-contact-form" action="/contacts" method="post">
  <p>
    <label for="contact-name">Name</label>
    <input type="text" id="firstname" name="firstname" />
  </p>
  <p>
    <button id='button'>Create</button>
  </p>
</form>
</body>
</html>